#fishList {
   
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 30px;
    width: 600px;
    gap: 20px;
    
    flex-basis: 300px;

    
}

#tipList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 30px;
    width: 400px;
    gap: 20px;
    overflow: hidden;
    
}
