.fish {
    
}
.fish_image {
    width: 200px;
    
    
}
.tip__details { 
    display:flex;
    flex-direction: column;

}

.aquarium {
    text-align: center;
}


.locations {
    margin-left: 30px;
}

.main {
   
    
}
