.fish {
 background-color: #FFA5A5;
 border-radius: 8px;
}

.fish:hover {
    transform: translateY(-5px);
    box-shadow: 4px 10px 8px rgba(0, 0, 0, 0.6);
}

.fish_image {
    width: 375px;
    height:250px;
}

.tip__details { 
    display:flex;
    flex-direction: column;
    background-color: lightblue;
    border-radius: 8px;;
}

.tip__details:hover{ 
    transform: translateY(-5px);
    box-shadow: 4px 10px 8px rgba(0, 0, 0, 0.6);
   
}

.aquarium {
    text-align: center;
    background-color: #440381;
    color: white;
}

#fishDiv {
    display: flex;
    text-align: center;
    margin-left: 30px;
}

#fishTitle {
display: flex;
margin-left: 50px;
margin-bottom: 20px;
font-size:30px;
   font-weight: bold;
   
}

.locations {
display:flex;
flex-direction: column;
font: size 10px;
background-color: #FFD6C0;
margin-top: 40px;
border-radius: 8px;
}

.locations:hover {
    transform: translateY(-5px);
    box-shadow: 4px 10px 8px rgba(0, 0, 0, 0.6);
}

.title {
    background-color: #440381;
}

.body { 
    background-color: #F3FFBD;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column; }

.tipTitle {
    display: flex;
    margin-left: 50px;
    margin-bottom: 20px;
    width: 500px;
    font-size:30px;
   font-weight: bold;
}


